*{
    margin: 0;
    padding: 0;
    box-sizing:box;
}


.container {
    background-color: #038c96; 
    color: #000000; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3,li,label,form,tr,a{
    color: #000000;
}

h1{
    text-align: Center;
}

a {
    color: #0066cc;
    text-decoration: none; 
    font-weight: bold;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}
ul, ol, li {
    padding-left: 20px; 
    margin: 20px 0; 
    margin-bottom:10px ;
}

table {
    margin:auto; 
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    border-color: #000000;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],input[type="reset"] {
    background-color: #0066cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: #004999;
}

input[type="radio"],input[type="checkbox"] {
    width: auto; 
}

img{
    width: 200px;
    height: 150px;
    border-radius: 30%;
    border: 3px solid #000000;
    
}

.title{
    color: white;
}

.header-inner {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    padding: 15px 30px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

header{
    background-color: blue;
    font-family: sans-serif;
}

.nav-lista{
    display: flex;
    list-style: none;
    margin: auto;
}

.nav-lista a{
    color: white;
    gap: 1rem;
    font-size: 0.8rem;
}

.nav-lista a:hover{
    text-decoration-line: underline;
}